@using ThermoComfortNew.Domain
@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<div class="d-flex flex-column">
    <a class="btn btn-success mb-2 w-100 @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">
        👤 Профил
    </a>
    <a class="btn btn-success w-100 @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">
        🔒 Парола
    </a>
</div>